div.bar	{
display:	inline-block;
width:	20px;
height:	75px;			/*	We'll	override	height	later	*/
background-color:	teal;
margin: 0 1px;
}


.graphArea {
  
}
.myPlot {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 9px;
    background-color: #426088;
    color: #c4a9a9;
    fill: azure;

}
.point {
  fill: black;
  color: black;
}

.axis	path,
.axis	line	{
stroke:	azure;
shape-rendering:	crispEdges;
}
.axis	text	{
font-family:	'Open Sans', sans-serif;
font-weight:	bold;
font-size:	14px;
fill:	azure;
}